[submodule "drbd"]
        path = drbd
        url = https://github.com/LINBIT/drbd-9.0.git
        update = rebase
        fetchRecurseSubmodules = true
[submodule "generate-cat-file"]
	path = generate-cat-file
	url = ../generate-cat-file.git
[submodule "drbd-utils"]
	path = drbd-utils
	url = ../drbd-utils.git
        fetchRecurseSubmodules = true
