converted-sources*/
drbd*-tmp
*.bak
*~
windrbd/src/*.obj
windrbd/src/*.pdb

.*.sw?
codeql-database
*.o
*.d
*.d.*
*makelog*
windrbd.sys*
windrbd.cat*
windrbd.inf*
windrbd.pdb*

windrbd/include/windrbd-event-log.h
windrbd/windrbd-event-log.coffres
windrbd/windrbd-event-log.rc
windrbd/msg00002.bin
windrbd/include/windrbd_version.h

*.log
