converted-sources*/
*.bak
*~
windrbd/src/*.obj
windrbd/src/*.pdb

.*.sw?
codeql-database
*.o
makelog*
windrbd.sys*
windrbd.cat*
windrbd.inf*

windrbd/include/windrbd-event-log.h
windrbd/windrbd-event-log.coffres
windrbd/windrbd-event-log.rc
windrbd/msg00002.bin

