[submodule "drbd"]
        path = drbd
        url = ../drbd.git
        update = checkout
        fetchRecurseSubmodules = true
	branch = jt/windrbd-1.1-drbd-9.0
[submodule "generate-cat-file"]
	path = generate-cat-file
	url = ../generate-cat-file
[submodule "drbd-utils"]
	path = drbd-utils
	url = ../drbd-utils.git
        fetchRecurseSubmodules = true
