[submodule "generate-cat-file"]
	path = generate-cat-file
	url = ../generate-cat-file
[submodule "drbd-utils"]
	path = drbd-utils
	url = ../drbd-utils.git
        fetchRecurseSubmodules = true
[submodule "drbd-9.1"]
	path = drbd-9.1
	url = git@gitlab.at.linbit.com:drbd/drbd.git
[submodule "drbd-9.2"]
	path = drbd-9.2
	url = git@gitlab.at.linbit.com:drbd/drbd.git
	branch = master
[submodule "drbd-9.0"]
	path = drbd-9.0
	url = git@gitlab.at.linbit.com:drbd/drbd.git
	branch = drbd-9.0
